<div class="sidePanel">
  <div class="timer">
      <div class="timerNum">30</div>
      <div class="timerUnit">sec</div>
      
  </div>
  <div class="rest">
    <div class="steps" >001</div>     
      <mat-card class="calender">
          <mat-card-header class="headerCalender">
          JUMPING JACKS
          </mat-card-header>
          
          <mat-card-content class="cardContent">
              <i class="material-icons excIcon">
                  accessibility
                  </i>
           
          </mat-card-content>
         
        </mat-card>
      <mat-card class="calender lastQuote">
          <mat-card-header>
              JUMPING JACKS
              </mat-card-header>
      </mat-card>


  </div>


</div>




